/**::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	color: #81868e;
}
html, body{
	height: 100%;
}
a {
	cursor: pointer;
}
* {
	margin: 0;
	padding: 0;
}
.span1 {
	color: #19bd9a;
	font-weight: bold;
}
.span2 {
	color: #636971;
	font-weight: bold;
}
li {
	list-style: none;
}

.hidden {
	display: none;

}
.carousel img {
	width: 100%;
	height: auto;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}
.text_center {
	text-align: center;
}
header {
	background: url("img/Layer 1.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 50% 60%;
	width: 100%;
	min-height: 100px;
	font-size: 15px;
	font-weight: 500;
	padding: 0 0 40px;
}
#header {
	z-index: 2;
}
.overlay {
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	right: 0;
	top: 0;
	opacity: 0;
	display: none;
	z-index: 1;
	width: 100%;
	height: 100%;
}
.overlay-active {
	opacity: 1;
	display: block;;
}
.logo {
	float: left;
	padding: 12px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}
.toggle {
	float: right;
	display: none;
	font-size: 17px;
	padding-top: 14px;
}
nav ul {
	padding: 5px;
	margin: 0;
}
.menu {
	display: block;
	text-align: right;
	float: right;
}
.menu a {
	border: 1px solid rgba(0, 0, 0, 0);
	padding: 2px 16px;
}
.menu a:hover {
	border: 1px solid #fff;
}
nav a,
.navbar a {
	display: block;
	padding: 2px 12px;
	color: #fff;
	margin-left: -4px;
	border-radius: 50px 50px;
}
.menu li,
.navbar li {
	display: inline-block;
	padding: 10px 5px;
}
nav {
	position: fixed;
	left: 0;
	right: 0;
	padding-top: 10px;
	-webkit-transition: 0.6s all ease-in-out;
	-o-transition: 0.6s all ease-in-out;
	transition: 0.6s all ease-in-out;
	z-index: 1;
}
.jb {
	margin-top: 240px;
	color: #fff;
}
.jb h1 {
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 3px;
} 
.bg-1 {
	background: #fff;
}
.bg-2 {
	background: #f3f3f3;
}
.bg-1, .bg-2 {
	padding: 80px 0;
}
h2 {
	font-size: 20px;
	font-family: "SourceSansPro";
	color: rgb(51, 59, 70);
	text-transform: uppercase;
	line-height: 0.6;
	font-weight: 100;
	margin-bottom: 40px;
	letter-spacing: 3px;
	line-height: 25px;
}
h3 {
	margin-bottom: 30px;	
}
.about a {
	border: 1px solid #333b46;
	color: #333b46;
}
.about h2 {
	margin: 30px 0 45px;
}
.about p {
	margin-bottom: 35px;
}
.about {
	padding: 75px 0 70px;
}
.about .row > div:first-child,
.about .row > div:last-child {
	padding-left: 65px;
}
.about .row > div:first-child {
	padding-right: 65px;
}
.btn {
	padding: 5px 20px;
	border-radius: 50px 50px;
}
.about a:hover,
.about a:focus {
	border-color: #19bd9a;
	color: #19bd9a;
}
.default {
	padding-top: 0;
	background: rgba(25, 189, 154, 0.44);
	-webkit-transition: 0.6s all ease-in-out;
	-o-transition: 0.6s all ease-in-out;
	transition: 0.6s all ease-in-out;
}
.fa {
	color: #fff;

}
.details a {
	margin: 0 auto;
}
.details .bg-3 li {
	display: inline-block;
}
.fa-angle-down {
	font-size: 20px !important;
	-webkit-transition: 0.2s font-size ease-in-out;
	-o-transition: 0.2s font-size ease-in-out;
	transition: 0.2s font-size ease-in-out;
}
.fa-angle-down:hover {
	font-size: 25px !important;
	-webkit-transition: 0.2s font-size ease-in-out;
	-o-transition: 0.2s font-size ease-in-out;
	transition: 0.2s font-size ease-in-out;
}
.bg-ring-down {
	background: #19bd9a !important;
	border-radius: 50px 50px;
	width: 35px;
	height: 35px;
	padding: 7px 8px;
	display: block;
	margin: 0 auto;
	margin-top: 115px;
}
.bg-3 a:hover .bg-ring-href {
	background: #19bd9a;
	-webkit-transition: 0.3s background ease-in-out;
	-o-transition: 0.3s background ease-in-out;
	transition: 0.3s background ease-in-out;
}
.active_a {
	background: #19bd9a !important;
}
.details .bg-ring-href {
	margin-right: 12px;
	margin-left: 12px;
}
.details .bg-3 {
	margin-top: 55px;
}
.fa-r {
	font-size: 25px !important;	
}
.bg-ring-href {
	border-radius: 50px 50px;
	background: #81868e;
	width: 50px;
	height: 50px;
	padding: 12px;
}
.r-1 {
	padding: 55px 60px;
}
.r-1 .col-md-7 p {
	padding-top: 55px;
}
.img {
	height: 500px;
	background-size: cover !important;
	overflow: hidden;
}
.left-img {
	background: url("../css//img/Layer 83.jpg");
}
.right-img div:first-child {
	background: url("../css//img/Layer 14.jpg");
}
.right-img div:last-child {
	background: url("../css//img/Layer 15.jpg") 45% 0px;
}
.feature-projects {
	padding-bottom: 0;
}
.features p {
	margin-bottom: 60px;
}
.describe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100% !important;
	padding-top: 20%;
	background-color: rgba(0, 0, 0, .6) !important;
	opacity: 0;
	-webkit-transition: .5s all;
	-o-transition: .5s all;
	transition: .5s all;
	color: #fff;
	text-transform: uppercase;
}
.img:hover .describe {
	opacity: 1;
	padding-top: 48%;
}
.right-img div:last-child:hover {
	background: url("../css//img/Layer 18.jpg") 76% 0px;
}
.right-img div:first-child:hover {
	background: url("../css//img/Layer 17.jpg") 55% 62%;
	-webkit-background-size: 180% !important;
	background-size: 180% !important;
}
.bottom-img {
	background: url("img/Layer 85.jpg") 50% 53%;
}
.bottom-opacity::before {
	content: "";
	overflow: hidden;
	display: block;
}
.bottom-opacity {
	background: #1aa688;
	opacity: .5;
	z-index: 1;
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 16px;
	letter-spacing: 1px;
	position: relative;
	padding: 2px 0 39px;
	top: 0;
	left: 0;
}
.button {
	line-height: 23px;
	padding-top: 38px;
}
.button a {
	color: #fff;
	border: 1px solid #fff;
	margin: auto;
	position: relative;
	overflow: hidden;
	display: block;
	width: 141px;
}
.button a:hover .line {
	left: 0;
	width: 100%;
	-webkit-transition: 0.5s all ease-in-out;
	-o-transition: 0.5s all ease-in-out;
	transition: 0.5s all ease-in-out;
	z-index: -1;
}
.button a:hover {
	color: #000;
	-webkit-transition: 0.5s all ease-in-out;
	-o-transition: 0.5s all ease-in-out;
	transition: 0.5s all ease-in-out;
}
.line {
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	width: 0%;
	background: #fff;
	z-index: 3;
	-webkit-transition: 0.5s all ease-in-out;
	-o-transition: 0.5s all ease-in-out;
	transition: 0.5s all ease-in-out;
}
.bottom-opacity p {
	margin-top: 45px;

}
.bottom-opacity .col-sm-9 a {
	color: #fff;
	font-weight: 600;
}
.services .bg-3 li {
	margin-top: 15px;
	display: inline-block;
}
.services .bg-3 li:first-child {
	margin-top: 0;
}
.btn-describe {
	display: none;
}
.graphic_design {
	display: block;
}
.diagram {
	background: #f3f3f3;
	width: 110px; 
	height: 110px;
	text-align: center;
	font-size: 20px;
	border: 5px solid #19bd9a;
	border-right: 5px solid #047378;
	border-radius: 100px;
	padding: 34px;
}
.pr {
	font-size: 10px;
}
.r-1 .col-md-6:last-child {
	margin-top: 60px;
}
.impressed {
	width: 100%;
	color: #f3f3f3;
	background: url("img/Men.jpg") 0 45%;
	-webkit-background-size: cover;
	background-size: cover;
}
.mask {
	background-color: rgba(0, 0, 0, .85);
	width: 100%;
	height: 100%;
	padding-bottom: 40px;
}
.text {
	margin-top: 75px;
}
.impressed p:last-child {
	text-transform: uppercase;
	font-size: 14px;
}
.impressed p {
	font-size: 16px;
	color: rgb(178, 179, 179);
}
.impressed h3 {
	font-size: 20px;
	color: rgb(243, 243, 243);
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 2px;
}
.screen {
	background: url("img/Screen1.png") no-repeat top center;
	height: 327px;
	width: 409px;
	position: relative;
	left: 146px;
	bottom: 37px;
	font-size: 30px;
	color: rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
	font-weight: bold;
	font-family: "BigJohn",sans-serif;
	padding-top: 100px;
}
.span3 {
	color: rgb(243, 243, 243);
}
.navbar {
	margin-top: 70px;
}
.navbar a {
	color: #808080;
}

/*Р СЏРґРё Р· Р·РѕР±СЂР°Р¶РµРЅРЅСЏРјРё РІ Portfolio*/

/*.img-row {
	margin-bottom: 10px;
	-webkit-background-size: cover !important;
	background-size: cover !important;
	width: 270px;
	margin-right: 2.5px;
	margin-left: 2.5px;
	overflow: hidden;
	position: relative;
}
.img-row:hover .describe,
.img-row:hover .describe p,
.img-row:hover .describe h2 {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.img-row .describe p,
.img-row .describe p,
.img-row .describe h2 {
	-webkit-transition: 0.35s transform;
	-o-transition: 0.35s transform;
	transition: 0.35s transform;
}
.img-row .describe{
	text-align: left;
	padding: 116px 35px 0;
}
.img-row .describe p {
	color: #b2b3b3;
	font-size: 12px;
	text-transform: none;
	margin-bottom: 65px;
	-webkit-transform: translate3d(150%, 0, 0);
	-ms-transform: translate3d(150%, 0, 0);
	-o-transform: translate3d(150%, 0, 0);
	transform: translate3d(150%, 0, 0);
}
.img-row .describe h2 {
	color: #19bd9a;
	margin-bottom: 65px;
}
.picture-row {
	margin-top: 55px;
}
.first, .second, .third, .four {
	padding-left: 0;
	padding-right: 0;
	display: inline-block;
}
/*Р СЏРґ 1*/
/*
.picture-row .first div:nth-child(1) {
	background-image: url("img/Layer 1_.jpg");
	height: 360px;
}
.picture-row .first div:nth-child(2) {
	background-image: url("img/Layer 2_.jpg");
	height: 362px;
}
.picture-row .first div:nth-child(3) {
	background-image: url("img/Layer 3_.jpg");
	height: 212px;
}

/*Р СЏРґ 2*/
/*
.picture-row .second div:nth-child(1) {
	background-image: url("img/Layer 4_.jpg");
	height: 230px;
}
.picture-row .second div:nth-child(2) {
	background-image: url("img/Layer 5_.jpg");
	height: 342px;
}
.picture-row .second div:nth-child(3) {
	background-image: url("img/Layer 6_.jpg");
	height: 362px;
}

/*Р СЏРґ 3*/
/*
.picture-row .third div:nth-child(1) {
	background-image: url("img/Layer 7_.jpg");
	height: 300px;
}
.picture-row .third div:nth-child(2) {
	background-image: url("img/Layer 8_.jpg");
	height: 374px;
}
.picture-row .third div:nth-child(3) {
	background-image: url("img/Layer 9_.jpg");
	height: 260px;
}

/*Р СЏРґ 4*/
/*
.picture-row .four div:nth-child(1) {
	background-image: url("img/Layer 10_.jpg");
	height: 360px;
}
.picture-row .four div:nth-child(2) {
	background-image: url("img/Layer 11_.jpg");
	height: 270px;
}
.picture-row .four div:nth-child(3) {
	background-image: url("img/Layer 12_.jpg");
	height: 304px;
}

.line-bottom {
	height: 2px;
	width: 0;
	background-color: #19bd9a;
	position: relative;
	left: 50%;
	-webkit-transition: 0.5s all ease-in-out;
	-o-transition: 0.5s all ease-in-out;
	transition: 0.5s all ease-in-out;
}
.navbar li:hover .line-bottom {
	width: 50%;
	left: 20%;
}
.inline-href {
	display: inline-block;
	background-color: #000;
	height: 27px;
	width: 27px;
	text-align: center;
	border-radius: 100px;
	line-height: 26px;
}
.start {
	margin: 0 17px;
	background: url("img/Layer start.jpg");
	-webkit-background-size: cover;
	background-size: cover;
}
.start .button {
	padding-top: 25px;
}
.start .bottom-opacity {
	padding: 5px 10px 55px;
}
.portfolio {
	padding-bottom: 95px;
}
.photo {
	-webkit-background-size: cover;
	background-size: cover;
	height: 365px;
	width: 290px;
}
.owl-item {
	padding: 65px 70px;
	width: 100%;
}
.owl-item .photo {
	background: url("img/Layer Person_1.jpg");
}
.progress-bar {
	float: right;
}
.about-person {
	text-align: right;
}
h3 {
	font-size: 20px;
	font-weight: 400;
	color: #525252;
	letter-spacing: 1px;
	margin-bottom: 0;
}
.italic {
	margin-bottom: 30px;
	font-style: italic;
}
.progress-bar > div {
	width: 330px;
	margin-top: 30px;
}
.progress-bar h4 {
	font-family: "Times New Roman";
	font-size: 16px;
	float: left;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 1px;
}
.progress-bar p {
	float: right;
	font-family: "SourceSansPro";
}
.progress-line {
	height: 4px;
	width: 100%;
	background-color: #e1e4e9;
	position: relative;
	overflow: hidden;
}
.progress-line .line {
	background-color: #19bd9a;
	position: absolute;
	left: 0;
}
.bar1 .line {
	width: 80%;
}
.bar2 .line {
	width: 65%;
}
.bar3 .line {
	width: 75%;
}
.owl-dots {
	text-align: center;
}
.owl-dot {
	display: inline-block;
	margin-right: 10px;
	height: 10px;
	width: 10px;
	border-radius: 100px;
	border: 1px solid #19bd9a;
}
.owl-dot:last-child {
	margin-right: 0;
}
.owl-dot.active {
	background-color: #19bd9a;
}
.lets-talk h3 {
	color: #fff;
}
.img_1 {
	background: url("img/Layer Talk_1.jpg") 50% 50%;
}
.img_1 {
	background: url("img/Layer Talk_2.jpg") 50% 50%;
}
.overlay-2 {
	background-color: rgba(0, 0, 0, 0.9);
	left: 0;
	top: 0;
	z-index: 4;
	width: 100%;
	height: 100%;
	padding: 60px 0 55px;
}
.lets-talk a {
	-webkit-transition: 0.3s all ease-in-out;
	-o-transition: 0.3s all ease-in-out;
	transition: 0.3s all ease-in-out;
}
.lets-talk a:hover {
	background: #fff;
	color: rgba(0, 0, 0, 0.8);
}
.owl-carousel {
	text-align: left;
}
.testimonials {
	padding-bottom: 15px;
}
.testimonials h4 {
	text-transform: uppercase;
	margin-top: 25px;
}
.testimonials p:last-child {
	font-size: 14px;
}
.testimonials img {
	height: 130px;
	width: 130px !important;
}
.testimonials .item {
	background-color: #fff;
	padding: 45px 95px 115px;
}
.owl-item {
    padding: 60px 70px;
}
.testimonials .owl-dots {
    position: relative;
    bottom: 135px;
}